.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.cart
{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 50px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .nav-link {
    font-size: 12px;
    color: blue;
    display: inline-block;
    transition: 0.3s;
}

.sidenav .nav-link .clear {
    right: 0;
    padding: 0;
}
.sidenav .nav-link .select {
    left: 0;
    padding-left: 0;
}




/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container {
    background-color: #e9ecef;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

header {
    transition: margin-left .5s;
}

strong {
    font-size: 36px;
}
h1{font-size: 75px;
    padding-top: 4rem;
padding-bottom: 3rem;}

body{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'South Park', sans-serif;
}


img {
    width: 100%;
    min-height: 200px;

}

/* Add a black background color to the top navigation */
.topnav {
    z-index: 999;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav a.login{
    float: right;
}

.topnav .dropdown{
    float: right;
}

.topnav .shopcart{
    float: right;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 91.7rem;
    top: 0;
    width: 23rem; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#logInModal {
    left: 93.8rem;
}

#signUpModal {
    left: 96rem;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin-top: 15%; /* 15% from the top and centered */
    margin-bottom:0%;
    padding: 20px;
    border: 1px solid #888;
    width: 23rem; /* Could be more or less, depending on screen size */
    height: auto;

}

/* The Close Button */
.no-acc,
.already-reg,
.close {
    color: black;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.no-acc,
.already-reg,
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cartFooter {
    color: black;
    float: right;
    font-size: 18px;
    font-weight: bold; cursor:pointer;"
}

.mainFooter {
    position: fixed;
    bottom: 0px;
    width: 98%;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: auto;
}

label {
    margin-bottom: 10px;
    display: block;
}
input[type=text],
input[type=password],
input[type=email]{
    width: 100%;
    height: 36px;
    font-family: sans-serif;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}